image: python:3

stages:
  - deploy

deploy:
  stage: deploy
  script:
  - pip install -U twine setuptools wheel
  - python setup.py sdist bdist_wheel
  - twine upload -u $PYPI_USER -p $PYPI_PASS dist/*
  only:
  - tags